# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Файлы окружения
.env
.venv
env/
venv/
ENV/

# Логи
*.log
logs/

# IDE файлы
.vscode/
.idea/
*.swp
*.swo


# Docker
docker-compose.override.yml

.md
.vscode